<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave the name to later</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
            <!img src="logo.png"/>
            </div>
        <ul class="main-nav">
            <li class="active"><a href = ""> Home </a></li>
            <li><a href = ""> Blog </a></li>
            <li><a href = ""> Pictures </a></li>
            <li><a href = ""> About </a></li>

        </ul>

        </div>
    </header>
    <p>Hiiiiiyyaa</p>
    <p>I need cat energy -> catnergy</p>

    <div>
        <h1><a href=""></a>The First Post</h1>
        <p>preview to do</p>
    </div>

    <div>
        <h2><a href=""></a>The Second Post</h2>
        <p>preview to do</p>
    </div>
</body>
</html>